@model SystemManage.Models.InboxModel
@using SystemManage.Models
<style>
    input, select, textarea {
        max-width: 2800px;
    }
</style>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link href="~/assets/css/slicknav.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/metisMenu.css">
    <link href="~/assets/css/fSelect.css" rel="stylesheet">
    <title>ส่งข้อความ</title>
</head>
<body>
    @using (Ajax.BeginForm("Index", "Inbox", new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), OnSuccess = "data" }, new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="card" style="margin-top: 50px">
                <div class="card-body" style="margin: auto">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="label">@Html.Label("*", new { @style = "color:red" }) เรื่อง :</label>
                            @Html.TextBoxFor(m => m.MailName, new { @class = "form-control", @placeholder = "กรุณาใส่ชื่อเรื่อง" })
                            @Html.ValidationMessageFor(m => m.MailName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">@Html.Label("*", new { @style = "color:red" }) รายละเอียด:</label>
                                @Html.TextAreaFor(m => m.MailDetail, new { @class = "form-control", @style = "resize:none;height:150px", @placeholder = "กรุณาใส่รายละเอียด" })
                                @Html.ValidationMessageFor(m => m.MailDetail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) ผู้รับ :</label>
                                <div class="col-sm-4">
                                    <select class="demo" multiple="multiple" id="Select_Lag">
                                        @{
                                            foreach (var n in (List<UserModel>)ViewBag.DataList)
                                            {
                                                <option name="Select_Lag" value="@n.Users_ID">@n.User_Name</option>
                                            }
                                        }


                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @*<input type="file" class="form-control-file" name="file">*@
                                @Html.TextBoxFor(m => m.AttachFile1, new { @class = "form-control-file", @type = "file" })
                            </div>
                        </div>
                    </div>
                    <di v class="row" style="margin-top: 20px;margin-bottom: 20px">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4">
                            <a href="@Url.Action("Inbox")"><button type="button" class="btn btn-outline-danger" onclick='return confirm("คุณต้องการยกเลิกการทำรายการใช่หรือไม่่")'>ยกเลิก</button></a>
                            <button type="submit" class="btn btn-outline-primary" onclick='return confirm("คุณต้องการทำรายการใช่หรือไม่่")'>ยืนยัน</button>
                        </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
<script src="~/assets/js/scripts.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/fSelect.js"></script>
<script src="~/assets/js/plugins.js"></script>