@using SystemManage.Models;
@model SystemManage.Models.UserModel
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

@{
    if (Session["userID"] == null && Session["ProjectID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css">
    <script src="https://unpkg.com/tablefilter@0.6.82/dist/tablefilter/tablefilter.js"></script>
    <title>ค้นหาสมาชิก</title>
    <style>
        .star:hover {
            content: url('/icon/star_yellow.png');
            height: 20px;
            width: 20px;
        }

        table.TF th {
            background-color: #bee5eb;
            padding: 12px;
            white-space: nowrap;
        }

        table.TF td {
            padding: 12px;
            white-space: nowrap;
        }

        input.flt {
            background-position: 10px 12px;
            width: 0;
            font-size: 16px;
            padding: 12px 20px 12px 20px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            border-radius: 18px;
            outline: none;
        }
    </style>
</head>
<body onload="sort_name()">
    <div class="card" style="border: none">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <a href="@Url.Action("ShowMember")">กลับ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align: center">สมาชิกในระบบ</h1>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <span id="0" hidden></span>
                                <label for="a">อีเมล : </label>
                                <span id="a"></span>
                             </div>
                            <div class="col-sm-4">
                                <label for="b">ชื่อ : </label>
                                <span id="b"></span>
                            </div>
                            <div class="col-sm-4">
                                <label for="c">นามสกุล : </label>
                                <span id="c"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="d">ชื่อเล่น : </label>
                                <span id="d"></span>
                            </div>
                            <div class="col-sm-4">
                                <label for="e">ตำแหน่ง : </label>
                                <span id="e"></span>
                            </div>
                            <div class="col-sm-4">
                                <label for="f">รูปแบบการจ้างงาน : </label>
                                <span id="f"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="g">วันเริ่มทำงาน : </label>
                                <span id="g"></span>
                            </div>
                            <div class="col-sm-4">
                                <label for="h">วันสิ้นสุดการทำงาน : </label>
                                <span id="h"></span>
                            </div>
                            <div class="col-sm-4">
                                <label for="i">ความชำนาญ : </label>
                                <span id="i"></span>
                            </div>
                            <span id="1" hidden></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="j">เปอร์เซ็นต์ความสำเร็จของงานขั้นต่ำ : </label>
                                <span id="j"></span>
                            </div>
                            <span id="2" hidden></span>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2">
                                <button id="btnClr" value="Clear" type="button" class="btn btn-basic btn-block shadow" onclick="tf.clearFilters();">เคลียร์</button>
                            </div>
                            <div class="col-sm-2">
                                <button id="btnFlt" value="Filter" type="button" class="btn btn-primary  btn-block shadow" onclick="tf.filter();">ค้นหา</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 20px">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12" style="overflow-x:auto;">
                    <table id="demo" class="table table-responsive-sm table-bordered">
                        <thead>
                            <tr class="table-info">
                                <th><center>ชื่นชอบ</center></th>
                                <th><center>อีเมล</center></th>
                                <th><center>ชื่อ</center></th>
                                <th><center>นามสกุล</center></th>
                                <th><center>ชื่อเล่น</center></th>
                                <th><center>ตำแหน่ง</center></th>
                                <th><center>รูปแบบสัญญาจ้าง</center></th>
                                <th><center>วันที่เริ่มทำงาน</center></th>
                                <th><center>วันที่สิ้นสุดการทำงาน</center></th>
                                <th><center>ความชำนาญ</center></th>
                                <th><center>ความยากของงาน  <span style="cursor:pointer" onclick="information()"><i class="fas fa-info-circle"></i></span></center></th>
                                <th><center>เปอร์เซ็นความสำเร็จ</center></th>
                                <th><center>ดูรายละเอียด</center></th>
                                @{
                                    if (Model.ProjectCreateBy == Convert.ToInt32(Session["userID"]) && Model.Project_Status != 4)
                                    {
                                        <th><center>เพิ่ม</center></th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody id="ta">
                            @{
                                int num = 0;
                                foreach (var item in (List<UserModel>)ViewBag.DataList)
                                {
                                    foreach (var item2 in (List<FollowModel>)ViewBag.DataList2)
                                    {
                                        if (item.Users_ID == item2.user_ID)
                                        {
                                            <tr>
                                                <td><center><a href="@Url.Action("Follows","Member", new { userID = item.Users_ID })"><img class="star" src="~/icon/star_yellow.png" width="20" height="20"><span hidden>1</span></a></center></td>
                                                <td><center>@item.User_Email</center></td>
                                                <td><center>@item.User_Name</center></td>
                                                <td><center>@item.User_LastName</center></td>
                                                <td><center>@item.NikcName</center></td>
                                                <td><center>@item.PositionName</center></td>
                                                <td><center>@item.ContactName</center></td>
                                                <td><center>@item.Start</center></td>
                                                <td><center>@item.End</center></td>
                                                <td><center>@item.language_string</center></td>
                                                <td><center>@item.AVG.ToString("#.#")</center></td>
                                                <td><center>@item.Amount_Succ.ToString("P1")</center></td>
                                                <td><a href="@Url.Action("HistoryUser",new {UserID = item.Users_ID })"><center><i class="fas fa-book-open"></i></center></a></td>
                                                @{
                                                    if (Model.ProjectCreateBy == Convert.ToInt32(Session["userID"]) && Model.Project_Status != 4)
                                                    {
                                                        <td><center><i class="fas fa-plus-circle" style="cursor:pointer" onclick="CheckMember('@item.Users_ID')"></i></center></td>
                                                    }
                                                    num = item2.user_ID;
                                                }
                                            </tr>
                                        }
                                    }
                                    if (num != item.Users_ID)
                                    {
                                        <tr>
                                            <td><center><a href="@Url.Action("Follows","Member", new { userID = item.Users_ID })"><img class="star" src="~/icon/star.png" width="20" height="20" value="0"></a></center></td>
                                            <td><center>@item.User_Email</center></td>
                                            <td><center>@item.User_Name</center></td>
                                            <td><center>@item.User_LastName</center></td>
                                            <td><center>@item.NikcName</center></td>
                                            <td><center>@item.PositionName</center></td>
                                            <td><center>@item.ContactName</center></td>
                                            <td><center>@item.Start</center></td>
                                            <td><center>@item.End</center></td>
                                            <td><center>@item.language_string</center></td>
                                            <td><center>@item.AVG.ToString("#.#")</center></td>
                                            <td><center>@item.Amount_Succ.ToString("P1")</center></td>
                                            <td><a href="@Url.Action("HistoryUser",new {UserID = item.Users_ID })"><center><i class="fas fa-book-open"></i></center></a></td>
                                            @{
                                                if (Model.ProjectCreateBy == Convert.ToInt32(Session["userID"]) && Model.Project_Status != 4)
                                                {
                                                    <td><center><i class="fas fa-plus-circle" style="cursor:pointer" onclick="CheckMember('@item.Users_ID')"></i></center></td>
                                                }
                                            }
                                        </tr>

                                    }

                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/jquery.slimscroll.min.js"></script>
<script src="~/assets/js/jquery.slicknav.min.js"></script>
<script>
    function information() {
        alert("0 = ยังไม่เคยทำงาน \n1 - 2.9 = ง่าย\n3 - 4.9 = ปานกลาง\n 5 = ยาก");
    }
</script>
<script>
    function CheckMember(userID) {
        if (confirm("เพิ่มสมาชิกเข้าสู้โครงการใช่หรือไม่")) {
            alert("ดำเนินการเสร็จสิน");
            $.ajax({
                type: "POST",
                url: "@(Url.Action("CheckMember", "Member"))",
                data: { userID: userID },
                dataType: "json",
                success: function (data) {
                    if (data.c == true) {
                        alert("มีผู้ใช้อยู่ระบบโครงการแล้ว");
                    }
                    }
                })
            };
    };
</script>
<script>

</script>

@*<script>
        //var click = '/icon/star.png';
        //var clicked = '/icon/star_yellow.png';

        //$('.star').click(function () {
        //    if ($(this).attr('src') === click) {
        //        $(this).attr('src', clicked);
        //    } else {
        //        $(this).attr('src', click)
        //    }
        //})

        function Follow(userID) {

            $.ajax({
                type: "POST",
                url: "@(Url.Action("Follows", "Member"))",
                data: { userID: userID },
                dataType: "json",
                success: function (data)
                {
                    $("#userID").val(data.userID);
                }
            });
        }

    </script>*@

<script>
    var tfConfig = {
        base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
        alternate_rows: true,
        mark_active_columns: true,
        col_5: 'checklist',
        col_6: 'checklist',
        col_7: 'select',
        col_8: 'select',
        col_9: 'checklist',
        col_11: 'select',
        col_types: [
            'string', 'string', 'string',
            'string', 'string', 'string',
            'string', 'string', 'string',
        ],
        custom_options: {
            cols: [11],
            texts: [
                [
                    '10', '20',
                    '30', '40', '50',
                    '60', '70', '80', '90', '100'
                ]
            ],
            values: [
                [
                    '>=10 && <=100', '>=20 &&, <=100',
                    '>=30 && <=100', '>=40 && <=100', '>=50 && <=100',
                    '>=60 && <=100', '>=70 && <=100',
                    '>=80 && <=100', '>=90 && <=100', '>=100'
                ]
            ],
            sorts: [false]
        },
        clear_filter_text: [
            ' [ Show all ] ',
            '<เลือก>',
            'Clear filter'
        ],

        /* external filters */
        external_flt_ids: [
            '0',
            'a',
            'b',
            'c',
            'd',
            'e',
            'f',
            'g',
            'h',
            'i',
            '1',
            'j',
            '2',
        ],

        /* sorting feature */
        extensions: [{ name: 'sort', async_sort: true }],
        themes: [{
            name: 'transparent'
        }]
    };
    var tf = new TableFilter('demo', tfConfig);
    tf.init();
</script>
