@model SystemManage.Models.UserModel
@using SystemManage.Models
@{
    /**/

    ViewBag.Title = "HistoryUser";
    Layout = "~/Views/Shared/_History.cshtml";
}

<script>
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
    theme: "light1", // "light1", "light2", "dark1", "dark2"
	data: [{
		type: "pie",
        startAngle: 180,
		dataPoints: @Html.Raw(ViewBag.DataList)
	}]
});
chart.render();
}
</script>

<style>
    .column {
        float: left;
        width: 33.33%;
    }

    td {
        text-align: center;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .text-ver {
        margin: 0;
        position: absolute;
        top: 10%;
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
        text-align: center;
        vertical-align: middle;
    }
</style>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/assets/css/metisMenu.css">
<link href="~/assets/css/fSelect.css" rel="stylesheet">
<div class="container">
    <div class="login-box ptb--100">
        @using (Ajax.BeginForm("Edit_Profile", "Member",
             new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), UpdateTargetId = "tb-data" }, new { @id = "form_Check" }))
        {
            @Html.AntiForgeryToken()
            <form>
                <div class="login-form-body shadow " style="border-style:solid ;border-width: 1px;margin-left: -200px;width:800px">
                    <h2 class="text-center" style="margin-bottom:20px;margin-top:-10px">ประวัติส่วนตัว</h2>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">ชื่อ : </label>
                        <div class="col-sm-4">
                            @Html.HiddenFor(m => m.Users_ID)
                            @Html.TextBoxFor(m => m.User_Name, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", Readonly = "" })
                            @Html.ValidationMessageFor(m => m.User_Name, string.Empty, new { @style = "color:red" })
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">นามสกุล : </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.User_LastName, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", Readonly = "" })
                            @Html.ValidationMessageFor(m => m.User_LastName, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">วันเดือนปีเกิด : </label>
                        <div class="col-sm-4">
                            @Html.HiddenFor(m => m.BirthDate)
                            @Html.TextBoxFor(m => m.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", Readonly = "", disabled = "ture" })
                            @Html.ValidationMessageFor(m => m.BirthDate, string.Empty, new { @style = "color:red" })
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">เพศ : </label>
                        <div class="col-sm-4">
                            @{
                                @Html.HiddenFor(m => m.Genders)
                                @Html.DropDownListFor(m => m.Genders, new SelectList(Enum.GetValues(typeof(UserModel.Sex))), "เลือก", new { @class = "form-control", disabled = "ture" })
                                @Html.ValidationMessageFor(m => m.Genders, string.Empty, new { @style = "color:red" })
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">ที่อยู่ : </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", Readonly = "" })
                            @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @style = "color:red" })
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">เบอร์โทร : </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล" })
                            @Html.ValidationMessageFor(m => m.Gender, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">สัญญา : </label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.Contract_ID, new SelectList(Model.ContractsList, "Contrat_ID", "Contrat_Name"), "ประเภทสัญญา", new { @class = "form-control", disabled = "ture" })
                            @Html.ValidationMessageFor(m => m.Contract_ID, string.Empty, new { @style = "color:red" })
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">สัญญาจาก : </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.ContractFrom, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", Readonly = "" })
                            @Html.ValidationMessageFor(m => m.ContractFrom, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">วันเริ่มสัญญา : </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Date_of_Started, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker2", Readonly = "", disabled = "ture" })
                            @Html.ValidationMessageFor(m => m.Date_of_Started, string.Empty, new { @style = "color:red" })
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">วันสิ้นสุดสัญญา:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Date_of_Ended, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker3", Readonly = "", disabled = "ture" })
                            @Html.ValidationMessageFor(m => m.Date_of_Ended, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">ไฟล์แนบ : </label>
                        <div class="col-sm-4">
                            <a href="@Model.PathShow1" target="_blank">@Model.AttachShow1</a>
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">ไฟล์แนบ :</label>
                        <div class="col-sm-4">
                            <a href="@Model.PathShow2" target="_blank">@Model.AttachShow2</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">ไฟล์แนบ : </label>
                        <div class="col-sm-4">
                            <a href="@Model.PathShow3" target="_blank">@Model.AttachShow3</a>
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">ไฟล์แนบ :</label>
                        <div class="col-sm-4">
                            <a href="@Model.PathShow4" target="_blank">@Model.AttachShow4</a>
                        </div>
                    </div>
                    <h2 class="text-center" style="margin-top:30px;margin-bottom:10px">บัญชีผู้ใช้งาน</h2>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">อีเมล์ : </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.User_Email, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล" })
                            @Html.ValidationMessageFor(m => m.User_Email, string.Empty, new { @style = "color:red" })
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">รหัสผ่าน : </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.User_Password, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", @id = "P1" })
                            @Html.ValidationMessageFor(m => m.User_Password, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">รหัสผ่านอีกครั้ง: </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.User_RePassword, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", @id = "P2" })
                            @Html.ValidationMessageFor(m => m.User_RePassword, string.Empty, new { @style = "color:red" })
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">ตำแหน่งงาน : </label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.Position_ID, new SelectList(Model.PositionList, "Position_ID", "Name"), "กำหนดตำแหน่ง", new { @class = "form-control", disabled = "ture" })
                            @Html.ValidationMessageFor(m => m.Position_ID, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="language" class="col-sm-2 col-form-label">ทักษะภาษาโปรแกรม : </label>
                        <div class="col-sm-4">
                            @Html.HiddenFor(m => m.language_string)
                            <select class="demo" multiple="multiple" id="Select_lg">
                                @{
                                    foreach (var n in (List<LanguageOfTypeModel>)ViewBag.DataLg)
                                    {
                                        <option name="Select_Lag" value="@n.languageID">@n.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        @{
                            if (Model.open_Role == 1)
                            {
                                <label for="language" class="col-sm-2 col-form-label">กำหนดสิทธิ์ : </label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.Roles, new SelectList(Enum.GetValues(typeof(UserModel._Role))), "เลือก", new { @class = "form-control", disabled = "ture" })
                                    @Html.ValidationMessageFor(m => m.Role, string.Empty, new { @style = "color:red" })
                                </div>
                            }
                            else
                            {
                                <label for="language" class="col-sm-2 col-form-label">กำหนดสิทธิ์ : </label>
                                <div class="col-sm-4">
                                    <label>ไม่พบข้อมูล</label>
                                </div>
                            }
                        }
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        ฝ่ายบริหารจัดการระบบ
                                    </label>
                                    @{
                                        if (Model.Permission == "A")
                                        {
                                            @Html.RadioButtonFor(m => m.Permission, "A", new { Checked = "checked", disabled = "ture" })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(m => m.Permission, "A", new { disabled = "ture" })
                                        }
                                    }
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        ฝ่ายจัดการโครงการ
                                    </label>
                                    @{
                                        if (Model.Permission == "P")
                                        {
                                            @Html.RadioButtonFor(m => m.Permission, "P", new { Checked = "checked", disabled = "ture" })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(m => m.Permission, "P", new { disabled = "ture" })
                                        }
                                    }
                                </div>
                                <div class="form-check ">
                                    <label class="form-check-label">
                                        ลูกค้า
                                    </label>
                                    @{
                                        if (Model.Permission == "C")
                                        {
                                            @Html.RadioButtonFor(m => m.Permission, "C", new { Checked = "checked", disabled = "ture" })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(m => m.Permission, "C", new { disabled = "ture" })
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <label for="language" class="col-sm-2 col-form-label">ทักษะภาษาอังกฤษ:</label>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="language" class="col-form-label">ฟัง : </label>
                                            @Html.DropDownListFor(m => m._Listening, new SelectList(Enum.GetValues(typeof(UserModel.Levels))), new { @class = "form-control" })
                                        
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="language" class="col-form-label">พูด : </label>
                                                @Html.DropDownListFor(m => m._Speaking, new SelectList(Enum.GetValues(typeof(UserModel.Levels))), new { @class = "form-control" })   
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="language" class="col-form-label">อ่าน : </label>
                                                @Html.DropDownListFor(m => m._Reading, new SelectList(Enum.GetValues(typeof(UserModel.Levels))), new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="language" class="col-form-label">เขียน : </label>
                                                @Html.DropDownListFor(m => m._Writng, new SelectList(Enum.GetValues(typeof(UserModel.Levels))), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-btn-area col-sm-6 mx-auto " style="margin-top: 50px ; margin-bottom: -20px">
                        <button id="form_submit" type="button" onclick="check_password()">บันทึก</button>
                    </div>
                </div>
            </form>
        }
    </div>
    <div class="login-form-body shadow" style="border-style:solid;border-width:1px">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-center text-ver" style="padding-left:80px">แผนภาพแสดงความสำเร็จของงาน</h3>
                <canvas class="vertical-center" id="doughnutChart" width="400" height="250"></canvas>
                <script>
                                @{
                                    double Succ = Math.Round(Model.Percent_Succ * 100, 1);
                                    double Non = Math.Round(Model.Percent_Non * 100, 1);
                                 }
                                //doughnut
                                var ctxD = document.getElementById("doughnutChart").getContext('2d');
                                var myLineChart = new Chart(ctxD, {
                                    type: 'doughnut',
                                    data: {
                                        labels: ["สำเร็จ","ไม่สำเร็จ"],
                                        datasets: [{
                                            data: [@Succ,@Non],
                                            backgroundColor: ["#FF0000", "#000000"],
                                            hoverBackgroundColor: ["##FF6600", "#FFFFCC"]
                                        }]
                                    },
                                    options: {
                                        responsive: true
                                    }
                                });
                </script>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label for="language" class="col-sm-4 col-form-label">เปอร์เซ็นต์ความสำเร็จ </label>
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>สำเร็จ</th>
                                        <th>จำนวนสำเร็จ</th>
                                        <th>ไม่สำเร็จ</th>
                                        <th>จำนวนไม่สำเร็จ</th>
                                    </tr>
                                    <tr>
                                        <td>@Model.Percent_Succ.ToString("P1")</td>
                                        <td>@Model.Amount_Succ</td>
                                        <td>@Model.Percent_Non.ToString("P1")</td>
                                        <td>@Model.Amount_Non</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label for="language" class="col-sm-4 col-form-label">งานที่ได้รับ </label>
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>ชื่องาน</th>
                                        <th>ความยากของงาน</th>
                                        <th>จำนวนการเขียนโปรแกรม</th>
                                    </tr>
                                    @{
                                        foreach (var item in (List<UserModel>)ViewBag.DataList)
                                        {
                                            <tr>
                                                <td>@item.TaskName</td>
                                                <td>@item.Level</td>
                                                <td>@item.RoundCoding</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/scripts.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/fSelect.js"></script>
<script>
    $('.datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('.datepicker2').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('.datepicker3').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
<script>
    function check_password() {
        var password = document.getElementById('P1').value;
        var confirmPassword = document.getElementById('P2').value;
        if (password != confirmPassword) {
            confirmPassword.focus(function () {
                alert("Handler for .focus() called.");
            });
        }
        else {
            if (confirm("คุณต้องการบันทึกข้อมูลใช่หรือไม่่")) {
                document.getElementById("form_Check").submit();
            }
        }
    }
</script>
<script>
    $('.demo').fSelect();
    $('#Select_lg').change(function () {
        $("#language_string").val($(this).val() + ",");
    });
</script>