@using SystemManage.Models;
@{
    ViewBag.Title = "ShowMember";
    Layout = "~/Views/Shared/_MainMenu.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-11" style="margin: auto">
                        <h1 style="margin-bottom: 20pt">สมาชิกในโครงการ</h1>
                    </div>
                    <div class="col-sm-1" style="margin: auto">
                        <a href="@Url.Action("ListMember")"><button type="button" class="btn btn-outline-success">เพิ่มสมาชิก</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-info">
                                    <th>อีเมล</th>
                                    <th>ชื่อ</th>
                                    <th>นามสกุล</th>
                                    <th>ตำแหน่ง</th>
                                    <th>ความยากของงานเฉลี่ย</th>
                                    <th>เปอร์เซ็นความสำเร็จ</th>
                                    <th>จำนวนการโค๊ต</th>
                                    <th>ดูรายละเอียด</th>
                                    <th>ลบออกจากโครงการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in (List<UserModel>)ViewBag.DataList)
                                    {
                                <tr>
                                    <td>@item.User_Email</td>
                                    <td>@item.User_Name</td>
                                    <td>@item.User_LastName</td>
                                    <td>@item.PositionName</td>
                                    <td>@item.AVG</td>
                                    <td>@item.Amount_Succ</td>
                                    <td>@item.TotalCoding</td>
                                    <td><a href="@Url.Action("DetailUser",new {UserID = item.Users_ID })"><i class="glyphicon fa fa-archive"></i></a></td>
                                    <td><a href="@Url.Action("AddMember", new {UserID = item.Users_ID })"><i class="glyphicon fa fa-diamond"></i></a></td>
                                </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>