@using SystemManage.Models;
@{
    ViewBag.Title = "ShowMember";
    Layout = "~/Views/Shared/_MainMenu.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-11" style="margin: auto">
                        <h1 style="margin-bottom: 20pt">สมาชิกในโครงการ</h1>
                    </div>
                    <div class="col-sm-1" style="margin: auto">
                        <a href="@Url.Action("ListMember")"><button type="button" class="btn btn-outline-success">เพิ่มสมาชิก</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-info">
                                    <th><center>อีเมล</center></th>
                                    <th><center>ชื่อ</center></th>
                                    <th><center>นามสกุล</center></th>
                                    <th><center>ตำแหน่ง</center></th>
                                    <th><center>ความยากของงานเฉลี่ย</center></th>
                                    <th><center>เปอร์เซ็นความสำเร็จ</center></th>
                                    <th><center>จำนวนการโค๊ต</center></th>
                                    <th><center>ดูรายละเอียด</center></th>
                                    <th><center>ออกจากโครงการ</center></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in (List<UserModel>)ViewBag.DataList)
                                    {
                                <tr>
                                    <td><center>@item.User_Email</center></td>
                                    <td><center>@item.User_Name</center></td>
                                    <td><center>@item.User_LastName</center></td>
                                    <td><center>@item.PositionName</center></td>
                                    <td><center>@item.AVG</center></td>
                                    <td><center>@item.Amount_Succ</center></td>
                                    <td><center>@item.TotalCoding</center></td>
                                    <td><a href="@Url.Action("DetailUser",new {UserID = item.Users_ID })"><center><i class="glyphicon fa fa-archive"></i></center></a></td>
                                    <td><a href="@Url.Action("DeleteMember", new {UserID = item.Users_ID })"><center><i class="glyphicon fa fa-diamond"></i></center></a></td>
                                </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>