@model SystemManage.Models.SubTaskModel
@using SystemManage.Models
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_History.cshtml";
}
<div class="container">
    <div class="card">
        <div class="card-body shadow" style="margin-top:50px;border-radius:10px">
            <div class="row">
                <div class="login-form-body" style="border:solid;;border-width:1px;margin:auto">
                    <div class="col-sm-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td>ชื่อโครงการ : </td>
                                    <td>@Session["ProjectName"] </td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td>รายละเอียดโครงการ :</td>
                                    <td>@Model.ProjectDetail</td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                @{
                                    <tr>
                                        <td>ผู้มีส่วนเกี่ยวข้องกับโครงการ : </td>
                                    </tr>
                                    int r = 0;
                                    foreach (var item in (List<SubTaskModel>)ViewBag.DataList2)
                                    {
                                        if (item.Role == 1)
                                        {
                                            <tr>
                                                <td>
                                                <td>ผู้จัดการโครงการ : </td>
                                                <td>
                                                <td>
                                                <td>
                                                    @item.PM
                                                </td>
                                            </tr>
                                        }
                                        else if (item.Role == 2)
                                        {
                                            if (r != item.Role)
                                            {
                                                <tr>
                                                    <td>
                                                    <td>ผู้พัฒนา : </td>
                                                    <td>
                                                    <td>
                                                    <td>
                                                        @item.Dev
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                    <td></td>
                                                    <td>
                                                    <td>
                                                    <td>
                                                        @item.Dev
                                                    </td>
                                                </tr>
                                            }
                                            r = item.Role;
                                        }
                                        else if (item.Role == 3)
                                        {
                                            if (r != item.Role)
                                            {
                                                <tr>
                                                    <td>
                                                    <td>ผู้ทดสอบ : </td>
                                                    <td>
                                                    <td>
                                                    <td>
                                                        @item.Tester
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                    <td></td>
                                                    <td>
                                                    <td>
                                                    <td>
                                                        @item.Tester
                                                    </td>
                                                </tr>
                                            }

                                            r = item.Role;
                                        }
                                        else if (item.Role == 4)
                                        {
                                            if (r != item.Role)
                                            {
                                                <tr>
                                                    <td>
                                                    <td>ผู้ตรวจสอบ : </td>
                                                    <td>
                                                    <td>
                                                    <td>
                                                        @item.QA
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                    <td></td>
                                                    <td>
                                                    <td>
                                                    <td>
                                                        @item.QA
                                                    </td>
                                                </tr>
                                            }
                                            r = item.Role;
                                        }
                                    }
                                }
                                <tr>
                                    <td>งาน : </td>
                                </tr>
                                @{
                                    var i = 0;
                                    var a = 0;
                                    var c = 1;
                                    var s = 1;
                                    foreach (var n in (List<SubTaskModel>)ViewBag.DataList)
                                    {
                                        i = n.TaskID;
                                        if (i == a)
                                        {
                                            s++;
                                            <tr>
                                            <tr>
                                                <td>
                                                <td>
                                                <td>@s. @n.SubName</td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>ผู้พัฒนา : @n.SubDevID</td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                            </tr>
                                            </tr>
                                        }
                                        else
                                        {
                                            s = 1;
                                            <tr>
                                                <td>
                                                <td>- @n.TaskName</td>
                                                <td>ผู้ทดสอบ : @n.TesterName</td>
                                                <td>ผู้ตรวจสอบ : @n.QAName</td>
                                            <tr>
                                                <td>
                                                <td>
                                                <td>@s. @n.SubName</td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>ผู้พัฒนา : @n.SubDevID</td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                            </tr>
                                            </tr>
                                            a = i;
                                        }
                                        c++;
                                    }
                                }
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>