@model SystemManage.Models.SubTaskModel
@using SystemManage.Models
@{
    ViewBag.Title = "Report";
    //Layout = "~/Views/Shared/_History.cshtml";
}
<style>
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="container">
    <div class="card">
        <h1 class="text-left" style="margin-top:10px;margin-bottom:-50px;margin-left:150px;border-radius:20px">รายงานโครงการ</h1>
        <div class="card-body shadow" style="margin-top:50px;border-radius:10px">
            <div class="row">
                <div class="login-form-body shadow" style="border:solid;border-width:1px;width:800px;margin:auto;border-radius:20px">
                    <div class="col-sm-12">
                        <table class="table-borderless" style="margin-left:50px;margin-top:20px;margin-bottom:20px">
                            <tbody>
                                <tr>
                                    <td><u>ชื่อโครงการ</u> : <span style="background-color: #FFFF00">@Session["ProjectName"] </td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td><u>รายละเอียดโครงการ</u> :</td>
                                </tr>
                                <tr>
                                    <td><br /></td>
                                </tr>
                                <tr>
                                    <td style="padding-left:50px"><span style="background-color: #FFFF00"> @Model.ProjectDetail</td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                @{
                                    <tr>
                                        <td><u>ผู้มีส่วนเกี่ยวข้องกับโครงการ</u> : </td>
                                    </tr>
                                    <tr>
                                        <td><br /></td>
                                    </tr>
                                    int r = 0;
                                    foreach (var item in (List<SubTaskModel>)ViewBag.DataList2)
                                    {
                                        if (item.Role == 1)
                                        {
                                            <tr>
                                                <td style="padding-left:50px"><u>ผู้จัดการโครงการ</u> : <span style="background-color: #FFFF00">@item.PM </td>
                                                <td>
                                                <td>
                                                <td></td>
                                            </tr>
                                        }
                                        else if (item.Role == 2)
                                        {
                                            if (r != item.Role)
                                            {
                                                <tr>
                                                    <td style="padding-left:50px;white-space: nowrap;"><u>ผู้พัฒนา</u> : <span style="background-color: #FFFF00">@item.Dev </td>
                                                    <td>
                                                    <td>
                                                    <td></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td style="padding-left:115px"> <span style="background-color: #FFFF00">@item.Dev</td>
                                                    <td>
                                                    <td></td>
                                                </tr>
                                            }
                                            r = item.Role;
                                        }
                                        else if (item.Role == 3)
                                        {
                                            if (r != item.Role)
                                            {
                                                <tr>
                                                    <td style="padding-left:50px"><u>ผู้ทดสอบ</u> :  <span style="background-color: #FFFF00">@item.Tester</td>
                                                    <td>
                                                    <td>
                                                    <td></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td style="padding-left:123px"><span style="background-color: #FFFF00">@item.Tester</td>
                                                    <td>
                                                    <td>
                                                    <td></td>
                                                </tr>
                                            }

                                            r = item.Role;
                                        }
                                        else if (item.Role == 4)
                                        {
                                            if (r != item.Role)
                                            {
                                                <tr>
                                                    <td style="padding-left:50px"><u>ผู้ตรวจสอบ</u> :<span style="background-color: #FFFF00"> @item.QA</td>
                                                    <td>
                                                    <td>
                                                    <td></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                    <td>
                                                    <td>
                                                        <span style="background-color: #FFFF00"> @item.QA
                                                    </td>
                                                </tr>
                                            }
                                            r = item.Role;
                                        }
                                    }
                                }
                                <tr>
                                    <td><br /></td>
                                </tr>
                                <tr>
                                    <td><u>งาน</u> : </td>
                                </tr>
                                @{
                                    var i = 0;
                                    var a = 0;
                                    var c = 1;
                                    var s = 1;
                                    foreach (var n in (List<SubTaskModel>)ViewBag.DataList)
                                    {
                                        i = n.TaskID;
                                        if (i == a)
                                        {
                                            s++;
                                            <tr>
                                                <td style="padding-left:166px"><span style="background-color: #FFFF00"> @s. @n.SubName</td>
                                                <td style="padding-left:30px;white-space: nowrap;"><u>ผู้พัฒนา    </u> : <span style="background-color: #FFFF00"> @n.SubDevID</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            s = 1;
                                            <tr>
                                                <td style="padding-left:50px"><u>งานหลัก</u> : <span style="background-color: #FFFF00"> @n.TaskName</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:50px"><u>ผู้ทดสอบ</u> : <span style="background-color: #FFFF00"> @n.TesterName</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:50px"><u>ผู้ตรวจสอบ</u> : <span style="background-color: #FFFF00"> @n.QAName</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:100px"><u>งานย่อย</u> : <span style="background-color: #FFFF00"> @s. @n.SubName</td>
                                                <td style="padding-left:30px;white-space: nowrap;"><u>ผู้พัฒนา</u> : <span style="background-color: #FFFF00"> @n.SubDevID</td>
                                                <td>
                                                <td>
                                                <td></td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                                <td>
                                            </tr>
                                            a = i;
                                        }
                                        c++;
                                    }

                                }
                            </tbody>
                        </table>
                        <table>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("ShowTask","Task")"><button type="button" class="btn btn-outline-danger " style="">กลับ</button></a>
        </div>
    </div>
</div>