@model SystemManage.Models.LanguageOfTypeModel
@using SystemManage.Models;
@{
    ViewBag.Title = "ShowLanguage";
    Layout = "~/Views/Shared/AddminLayout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div class="container">
    <div class="login-box ptb--100">
        @using (Ajax.BeginForm("AddLanguage", "Languages",
             new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), UpdateTargetId = "tb-data" }))
        {
            @Html.AntiForgeryToken()
            <form>
                <div class="login-form-body shadow " style="border-style:solid ;border-width: 1px">
                    <div class="form-group row">
                        <label for="language" class="col-sm-6 col-form-label">ภาษาที่ใช้พัฒนาซอฟแวร์: </label>
                        <div class="col-sm-6">
                            @Html.HiddenFor(m => m.languageID, new { @class = "form-control" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", OnSuccess = "clearvalue" })
                            @Html.ValidationMessageFor(m => m.Name, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="submit-btn-area col-sm-6 mx-auto " style="margin-top: 50px ; margin-bottom: -20px">
                        <button id="form_submit" type="submit">เพิ่ม</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
<div class="row" id="tb-data">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <div class="data-tables datatable-primary">
                    <div id="dataTable2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dataTable2" class="text-center dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="dataTable2_info" style="width: 1131px;">
                                    <thead class="text-capitalize">
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 140px;" aria-sort="ascending" aria-label="No.: activate to sort column descending">อันดับ.</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 275px;">ภาษาที่ใช้พัฒนาซอฟแวร์</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 119px;">แก้ไข</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 73px;">ลบ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var i = 1;
                                            foreach (var item in (List<LanguageOfTypeModel>)ViewBag.DataList)
                                            {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td>
                                                <span style="cursor:pointer" onclick="EditDetail('@item.languageID')"><i class="fas fa-book-open"></i></span>
                                            </td>
                                        <td>
                                            <a href="@Url.Action("DeleteLanguage", new {languageID = item.languageID})"><i class="fas fa-backspace"></i></a>
                                        </td>
                                        </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function EditDetail(languagesID) {
        $.ajax({
            type: "POST",
            url: "@(Url.Action("DetailLanguages", "Languages"))",
            data: { languageID: languagesID },
            dataType: "json",
            success: function (data)
            {
                $("#languageID").val(data.languageID);
                $("#Name").val(data.Name);  
            }
        });
    }
</script>
