@model SystemManage.Models.DocumentModel
<style>
    input, select, textarea {
        max-width: 2800px;
    }
</style>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>AddInbox</title>
</head>
<body>
    @using (Ajax.BeginForm("Index", "UploadFileController", new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), OnSuccess="data" }, new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="card" style="margin-top: 20px">
                <div class="card-body" style="margin: auto">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="label">@Html.Label("*", new { @style = "color:red" }) ชื่อเอกสาร :</label>
                            @Html.TextBoxFor(m => m.DocumentName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DocumentName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">รายละเอียด:</label>
                                @Html.TextAreaFor(m => m.DocumentDetail, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="label">@Html.Label("*", new { @style = "color:red" }) แนบไฟล์ :</label>
                                @Html.TextBoxFor(m => m.AttachFile, new { type = "file", @class = "form-control-file" })
                                @Html.ValidationMessageFor(m => m.AttachFile, "", new { @class = "text-danger" })
                                @*@Html.TextBoxFor(m => m.AttachFile1,new {@class = "form-control-file" ,@type ="file"})*@
                            </div>
                        </div>
                    </div>
                    <di v class="row" style="margin-top: 20px;margin-bottom: 20px">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4">
                            <a href="@Url.Action("ShowDocument")"><button type="button" class="btn btn-outline-danger">ยกเลิก</button></a>
                            <button type="submit" class="btn btn-outline-primary">ยืนยัน</button>
                        </div>
                </div>
            </div>
        </div>
    }
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
@*@using (Html.BeginForm("Process", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
<script>
    function post(data)
    function post2(data2)
</script>
