@model SystemManage.Models.TypeOfCotractModel
@using SystemManage.Models
@{
    ViewBag.Title = "ShowContact";
    Layout = "~/Views/Shared/AddminLayout.cshtml";
}
@{
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<body onload="Alert()">
<div class="container">
    <div class="login-box ptb--100">
        @using (Ajax.BeginForm("AddContact", "Contact",
             new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), UpdateTargetId = "tb-data" }))
        {
            @Html.AntiForgeryToken()
            <form>
                <div class="login-form-body shadow " style="border-style:solid ;border-width: 1px">
                    <div class="form-group row">
                        <label for="language" class="col-sm-6 col-form-label">ประเภทสัญญา: </label>
                        <div class="col-sm-6">
                            @Html.HiddenFor(m => m.Contrat_ID, new { @class = "form-control" })
                            @Html.TextBoxFor(m => m.Contrat_Name, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล"})
                            @Html.ValidationMessageFor(m => m.Contrat_Name, string.Empty, new { @style = "color:red" })
                        </div>
                        <div class="mt">
                        </div>
                        <label for="language" class="col-sm-6 col-form-label">รายละเอียด: </label>
                        <div class="col-sm-6">
                            @Html.TextAreaFor(m => m.Contrat_Detail, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล"})
                        </div>
                    </div>
                    <div class="submit-btn-area col-sm-6 mx-auto " style="margin-top: 50px ; margin-bottom: -20px">
                        <button id="form_submit" type="submit">เพิ่ม</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
<div class="row" id="tb-data">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <div class="data-tables datatable-primary">
                    <div id="dataTable2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dataTable2" class="text-center dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="dataTable2_info" style="width: 1131px;">
                                    <thead class="text-capitalize">
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 140px;" aria-sort="ascending" aria-label="No.: activate to sort column descending">อันดับ.</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 275px;">ประเภทสัญญา</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 119px;">รายละเอียด</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 119px;">แก้ไข</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 73px;">ลบ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var i = 1;
                                            foreach (var item in (List<TypeOfCotractModel>)ViewBag.DataList)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.Contrat_Name</td>
                                                    <td>@item.Contrat_Detail</td>
                                                    <td>
                                                        <span style="cursor:pointer" onclick="EditDetail('@item.Contrat_ID')"><i class="fas fa-wrench"></i></span>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("DeleteContact", new {Contrat_ID = item.Contrat_ID})"><i class="fas fa-backspace"></i></a>
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function EditDetail(ContactID) {
        $.ajax({
            type: "POST",
            url: "@(Url.Action("DetailContact", "Contact"))",
            data: { Contrat_ID: ContactID },
            dataType: "json",
            success: function (data)
            {
                $("#Contrat_ID").val(data.Contrat_ID);
                $("#Contrat_Name").val(data.Contrat_Name);
                $("#Contrat_Detail").val(data.Contrat_Detail);
                document.getElementById("form_submit").innerText = "บันทึก";
            }
        });

    }
</script>
<script>
    function Alert()
    {

        if (@Model.Alert == 1)
        {
            alert("ไม่สามารถทำรายการเนื่องจากข้อมูลถูกเรียกใช้อยู่ กรูณาตรวจสอบอีกครั้ง");
        }
    }
</script>