@model SystemManage.Models.ProjectModel
@using SystemManage.Models;

@{
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<style>
    input, select, textarea {
        max-width: 2800px;
    }
</style>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script>
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
    theme: "light2",
    animationEnabled: true,
    data: [{
        type: "column",
		dataPoints: @Html.Raw(ViewBag.DataList)
	}]
});
chart.render();
        }
    </script>
    <title>ProjectDetails</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;margin-bottom:20px">โครงการ @Session["ProjectName"]</h1>
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                </div>
                <div class="card" style="margin-top: 20px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <H3>รายละเอียด</H3>
                            </div>
                            <div class="col-sm-4">
                                <H3>งาน</H3>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        @Model.ProjectDescription
                                        @*@Html.TextAreaFor(m => m.ProjectDescription, new { @class = "form-control", @type = "TextArea" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <table>
                                            <tbody>
                                                @{
                                                    foreach (var item in (List<ProjectModel>)ViewBag.DataList2)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.TaskName
                                                            </td>
                                                            @{item.TaskPercent = item.TaskPercent / 100;
                                                            }
                                                            <td style="padding-left:70px">
                                                                @item.TaskPercent.ToString("P01")
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2">
                        <a href="@Url.Action("ShowProject","Project")"><button type="button" class="btn btn-outline-danger btn-block" style="margin-top: 20px">กลับ</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>