@model SystemManage.Models.UserModel
@using SystemManage.Models;

@{
    ViewBag.Title = "ShowUser";
    Layout = "~/Views/Shared/AddminLayout.cshtml";
}
@{
    string d = "";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<style>
    th, td {
        white-space: nowrap;
    }
</style>
<link href="~/assets/css/fSelect.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<body onload=" Alert()">
    <div class="container">
        <div class="login-box ptb--100">
            @using (Ajax.BeginForm("AddUser", "User", new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), UpdateTargetId = "tb-data" }, new { @id = "form_submit", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <form>
                    <div class="login-form-body shadow " style="border-style:solid ;border-width: 1px;margin-left: -200px;width:800px">
                        <h2 class="text-center" style="margin-bottom:20px;margin-top:-10px">ประวัติส่วนตัว</h2>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">ชื่อ : </label>
                            <div class="col-sm-4">
                                @Html.HiddenFor(m => m.Users_ID)
                                @Html.TextBoxFor(m => m.User_Name, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล" })
                                @Html.ValidationMessageFor(m => m.User_Name, string.Empty, new { @style = "color:red" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">นามสกุล : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.User_LastName, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล" })
                                @Html.ValidationMessageFor(m => m.User_LastName, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">วันเดือนปีเกิด : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(m => m.BirthDate, string.Empty, new { @style = "color:red" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">เพศ : </label>
                            <div class="col-sm-4">
                                @{
                                    @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(UserModel.Sex))), "เลือก", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Genders, string.Empty, new { @style = "color:red" })
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">ที่อยู่ : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล" })
                                @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @style = "color:red" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">เบอร์โทร : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล" })
                                @Html.ValidationMessageFor(m => m.Gender, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">สัญญา : </label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Contract_ID, new SelectList(Model.ContractsList, "Contrat_ID", "Contrat_Name"), "ประเภทสัญญา", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Contract_ID, string.Empty, new { @style = "color:red" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">สัญญาจาก : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.ContractFrom, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล" })
                                @Html.ValidationMessageFor(m => m.ContractFrom, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">วันเริ่มสัญญา : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Date_of_Started, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker2" })
                                @Html.ValidationMessageFor(m => m.Date_of_Started, string.Empty, new { @style = "color:red" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">วันสิ้นสุดสัญญา:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Date_of_Ended, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker3" })
                                @Html.ValidationMessageFor(m => m.Date_of_Ended, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">ไฟล์ที่ 1 : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.AttachFile1, new { type = "file", @class = "form-control-file" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">ไฟล์ที่ 2:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.AttachFile2, new { type = "file", @class = "form-control-file" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">ไฟล์ที่ 3 : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.AttachFile3, new { type = "file", @class = "form-control-file" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">ไฟล์ที่4 :</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.AttachFile4, new { type = "file", @class = "form-control-file" })
                            </div>
                        </div>
                        <h2 class="text-center" style="margin-top:30px;margin-bottom:10px">บัญชีผู้ใช้งาน</h2>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">อีเมล์ : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.User_Email, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", OnSuccess = "clearvalue" })
                                @Html.ValidationMessageFor(m => m.User_Email, string.Empty, new { @style = "color:red" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">รหัสผ่าน : </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.User_Password, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", OnSuccess = "clearvalue", type = "password" })
                                @Html.ValidationMessageFor(m => m.User_Password, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">รหัสผ่านอีกครั้ง: </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.User_RePassword, new { @class = "form-control", @placeHolder = "กรุณาใส่ข้อมูล", OnSuccess = "clearvalue", type = "password" })
                                @Html.ValidationMessageFor(m => m.User_RePassword, string.Empty, new { @style = "color:red" })
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">ตำแหน่งงาน : </label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Position_ID, new SelectList(Model.PositionList, "Position_ID", "Name"), "กำหนดตำแหน่ง", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Position_ID, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.Select_Laguages)
                        <div class="form-group row">
                            <label for="language" class="col-sm-2 col-form-label">ทักษะภาษาโปรแกรม : </label>
                            <div class="col-sm-4">
                                <select class="demo" multiple="multiple" id="Select_Lag">
                                    @{
                                        foreach (var n in (List<LanguageOfTypeModel>)ViewBag.DataSkill)
                                        {
                                            <option name="Select_Lag" value="@n.languageID">@n.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">กำหนดสิทธิ์ : </label>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            ฝ่ายบริหารจัดการระบบ
                                        </label>
                                        @Html.RadioButtonFor(m => m.Permission, "A",new {id = "Admin" })
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            ฝ่ายจัดการโครงการ
                                        </label>
                                        @Html.RadioButtonFor(m => m.Permission, "P", new { id = "PM" })
                                    </div>
                                    <div class="form-check ">
                                        <label class="form-check-label">
                                            ลูกค้า
                                        </label>
                                        @Html.RadioButtonFor(m => m.Permission, "C", new { id = "CM" })
                                    </div>
                                </div>
                            </div>
                            <label for="language" class="col-sm-2 col-form-label">ทักษะภาษาอังกฤษ:</label>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="language" class="col-form-label">ฟัง: </label>
                                            @Html.DropDownListFor(m => m.Listening, new SelectList(Enum.GetValues(typeof(UserModel.Levels))), "เลือก", new { @class = "form-control" })

                                        </div>
                                        <div class="col-sm-6">
                                            <label for="language" class="col-form-label">พูด : </label>
                                            @Html.DropDownListFor(m => m.Speaking, new SelectList(Enum.GetValues(typeof(UserModel.Levels))), "เลือก", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="language" class="col-form-label">อ่าน : </label>
                                            @Html.DropDownListFor(m => m.Reading, new SelectList(Enum.GetValues(typeof(UserModel.Levels))), "เลือก", new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="language" class="col-form-label">เขียน : </label>
                                            @Html.DropDownListFor(m => m.Writng, new SelectList(Enum.GetValues(typeof(UserModel.Levels))), "เลือก", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-btn-area col-sm-6 mx-auto " style="margin-top: 50px ; margin-bottom: -20px">
                            <button id="submits" type="submit" onclick='return confirm("กรุณายืนยันการทำรายการ")'>เพิ่ม</button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
    <div class="row" id="tb-data">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="data-tables datatable-primary">
                        <div id="dataTable2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive" style="overflow-x:auto;">
                                        <table id="dataTable2" class="text-center dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="dataTable2_info" style="width: 1131px;overflow-x:auto">
                                            <thead class="text-capitalize">
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 2px;" aria-sort="ascending" aria-label="No.: activate to sort column descending">อันดับ</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 100px;">อีเมล์</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 119px;">ชื่อ</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 73px;">นามสกุล</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 73px;">ตำแหน่ง</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 73px;">สัญญา</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 20px;">แก้ไข</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable2" rowspan="1" colspan="1" style="width: 20px;">ลบ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var ia = 1;
                                                    foreach (var item in (List<UserModel>)ViewBag.DataList)
                                                    {
                                                        <tr>
                                                            <td>@ia</td>
                                                            <td>@item.User_Email</td>
                                                            <td>@item.User_Name</td>
                                                            <td>@item.User_LastName</td>
                                                            <td>@item.PositionName</td>
                                                            <td>@item.ContactName</td>
                                                            <td>
                                                                <span style="cursor:pointer" onclick="DetailUser('@item.Users_ID')"><i class="fas fa-wrench"></i></span>
                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("DeleteUser", new {userID = item.Users_ID})"><i class="fas fa-backspace"></i></a>
                                                            </td>
                                                        </tr>
                                                        ia++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
        function DetailUser(Users_ID) {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("DetailUser", "User"))",
                data: { Users_ID: Users_ID },
                dataType: "json",
                success: function (data) {
                    $("#Users_ID").val(data.UserID);
                    $("#User_Name").val(data.Name);
                    $("#User_LastName").val(data.LastName);
                    $("#User_Email").val(data.Email);
                    $("#BirthDate").val(data.BirthDate);
                    $("#Address").val(data.Address);
                    $("#Contract_ID").val(data.Contract);
                    $("#ContractFrom").val(data.ContractFrom);
                    $("#Position_ID").val(data.Postition);
                    $("#Phone").val(data.Phone);
                    $("#Permission").val(data.Permission);
                    if (data.Permission == "A") {
                        document.getElementById("Admin").checked = "true";
                    }
                    else if (data.Permission == "P") {
                        document.getElementById("PM").checked = "true";
                    }
                    else if (data.Permission == "C") {
                        document.getElementById("CM").checked = "true";
                    }
                    $("#Date_of_Started").val(data.Started);
                    $("#Date_of_Ended").val(data.Ended);
                    $("#User_Password").val(data.Password);
                    $("#LanguageID").val(data.Language);
                    /////////////////////////////////////////////////////
                    if (data.Speaking == 1) {
                        $("#Speaking").val("ปานกลาง");
                    }
                    else if (data.Speaking == 2) {
                        $("#Speaking").val("เก่ง");
                    }
                    else if (data.Speaking == 0) {
                        $("#Speaking").val("อ่อน");
                    }
                    ///////////////////////////////////////////////////
                    if (data.Writng == 1) {
                        $("#Writng").val("ปานกลาง");
                    }
                    else if (data.Writng == 2) {
                        $("#Writng").val("เก่ง");
                    }
                    else if (data.Writng == 0) {
                        $("#Writng").val("อ่อน");
                    }
                    ///////////////////////////////////////////////////
                    if (data.Reading == 1) {
                        $("#Reading").val("ปานกลาง");
                    }
                    else if (data.Reading == 2) {
                        $("#Reading").val("เก่ง");
                    }
                    else if (data.Reading == 0) {
                        $("#Reading").val("อ่อน");
                    }
                    /////////////////////////////////////////////////
                    if (data.Listening == 1) {
                        $("#Listening").val("ปานกลาง");
                    }
                    else if (data.Listening == 2) {
                        $("#Listening").val("เก่ง");
                    }
                    else if (data.Listening == 0) {
                        $("#Listening").val("อ่อน");
                    }
                    /////////////////////////////////////////////
                    if (data.Genders == 0) {
                        $("#Genders").val("ชาย");
                    }
                    else if (data.Genders == 1) {
                        $("#Gender").val("หญิง");
                    }
                    document.getElementById("submits").innerText = "บันทึก";
                }
            });
        }
</script>
<script src="~/assets/js/fSelect.js"></script>
<script>
    $('.demo').fSelect();
    $('#Select_Lag').change(function () {
        $("#Select_Laguages").val($(this).val() + ",");
    });
</script>
<script>
    $('.datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('.datepicker2').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('.datepicker3').datepicker({
        uiLibrary: 'bootstrap4'
    });

    function Alert() {
         if (@Model.Alert == 1)
        {
            alert("ไม่สามารถทำรายการเนื่องจากข้อมูลถูกเรียกใช้อยู่ กรูณาตรวจสอบอีกครั้ง");
        }
    }
</script>