@{
    if (Session["userID"] == null && Session["ProjectID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@{
    ViewBag.Title = "AddDefect";
    @model SystemManage.Models.DefectModel
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script>
        //***scritpt datepicker***//
        $(function () {
            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();
            $("#datepicker5").datepicker();
            $("#datepicker6").datepicker();
            $("#datepicker7").datepicker();
            $("#datepicker8").datepicker();
            $("#datepicker9").datepicker();
            $("#datepicker10").datepicker();
        });
        //***//
        //***script addsubtask***//
        $(document).ready(function () {
            var i = 1;
            $("#add").click(function () {
                i++;
                var domElement = $('<div class ="card" id="new"><dic class ="card-body"><div class="row"> <div class="col-sm-12"><div class="form-group"> <label for="comment">รายละเอียดข้อผิดพลาด: </label> <label style="float:right"><a href="#div" id="cancel"><img src="/icon/cancel.png" width="24px" height="24px"></a></label> <textarea class="form-control" cols="20" id="DetailList" name="DetailList" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 118px;"></textarea> </div> </div></div> <div class="row"> <div class="col-sm-6"> <div class="input-group"> <label class="label" style="margin-right: 10px">กำหนดส่ง :</label> <input class="form-control" id="SendDateList" name="SendDateList" type="date" value=""> </div> </div>  <div class="col-sm-6"> <div class="form-group"> <input type="file" class="form-control-file" id="exampleFormControlFile1"> </div> </div> </div></div> </div>');
                $(this).parent('div').before(domElement);
            });
        });
        //***//
        //***script deletesubtask***//
        $(document).on('click', '#cancel', function () {
            var c = confirm("ยืนยันการลบที่จะลบ Defect นี้");
            if (c == true) {
                $(this).parentsUntil("#new").parent().remove();
            }
        });
        //***//
        //***script confrimrefresh***//
        window.onbeforeunload = function () {
            return "ข้อมูลไม่ได้บันทึก";
        };
                                    //***//
    </script>
    <!-- end datepicker script -->
    <style>
        select, textarea {
            max-width: 2800px;
            height: 150px
        }

            textarea.form-control {
                height: 150px;
                resize: none;
            }
    </style>
    <title>ข้อผิดพลาด</title>
</head>
<body>
    @using (Ajax.BeginForm("AddDefect", "Defect", new AjaxOptions { HttpMethod = FormMethod.Post.ToString() }))
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-center" style="margin-top: 20pt">ข้อผิดพลาด</h1>
                </div>
            </div>
            <div class="card shadow" style="margin-top: 10px;margin-bottom: 50px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="taskname">ชื่องาน :</label>
                                @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control", ReadOnly = "" })
                            </div>
                        </div>
                        @{
                            if (Convert.ToInt32(Session["Defect_SIT"]) != 1)
                            {
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="taskname">ชื่องานรอง :</label>
                                        @Html.HiddenFor(m => m.Sub_ID)
                                        @Html.TextBoxFor(m => m.SubTaskName, new { @class = "form-control", Readonly = "" })

                                    </div>
                                </div>
                            }
                        }
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">ผู้พัฒนา :</label>
                                @Html.TextBoxFor(m => m.DevName, new { readOnreadOnly = true, @class = "form-control", ReadOnly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-top:20px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="comment">@Html.Label("*", new { @style = "color:red" }) รายละเอียดข้อผิดพลาด:</label>
                                        @Html.TextAreaFor(m => m.DetailList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DetailList, Model.Error_Detail, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) กำหนดส่ง :</label>
                                        @Html.TextBoxFor(m => m.SendDateList, new { @class = "form-control", @type = "date" })
                                        @Html.ValidationMessageFor(m => m.SendDateList, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="file" id="exampleFormControlFile1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;margin-top: 20px">
                        <a href="#div" id="add"><cneter><img src="~/icon/plus.png" width="42px" height="42px"></a>
                    </div>
                    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <a href="@Url.Action("ShowTask", "Task", new { SubTask = Session["SubTask"] })"><button type="button" class="btn btn-outline-danger" onclick='return("คุณต้องการยกเลิกการทำรายการใช่หรือไม่่")'>ยกเลิก</button></a>
                            <button type="submit" class="btn btn-outline-primary" onclick='return confirm("คุณต้องการยินยันการทำรายการใช่หรือไม่่")'>ยืนยัน</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>