@model SystemManage.Models.DefectModel
@using SystemManage.Models
@{
    if (Session["userID"] == null && Session["ProjectID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@{
    ViewBag.Title = "DetailDefect";
}
<style>
    textarea.form-control {
        height: 100px;
        resize: none;
    }
</style>
<body>
    @using (Html.BeginForm("SeveData", "Defect", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-center" style="margin-top: 20pt">ข้อผิดพลาด</h1>
                </div>
            </div>
            <div class="card shadow" style="margin-top: 50px;margin-bottom: 50px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="taskname">ชื่องาน :</label>
                                @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="taskname">ชื่องานรอง :</label>
                                @Html.HiddenFor(m => m.Sub_ID)
                                @Html.TextBoxFor(m => m.SubTaskName, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">ผู้พัฒนา :</label>
                                @Html.TextBoxFor(m => m.DevName, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    @{
                        foreach (var item in (List<DefectModel>)ViewBag.DataList)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="comment">รายละเอียดข้อผิดพลาด:</label>
                                        @Html.TextAreaFor(m => item.Detail, new { @class = "form-control", @type = "TextArea", @readonly = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <label class="label" style="margin-right: 10px">กำหนดส่ง:</label>
                                        @Html.TextBoxFor(m => item.SendDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "" })
                                    </div>
                                </div>
                                @{
                                    if (item.Status == 0)
                                    {
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <label class="label" for="subject" style="margin-right: 10px">สถานะ :</label>
                                                <div class="rs-select2 js-select-simple select--no-search ">
                                                    <label>อยู่ระหว่างการตอบรับ</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">ไฟล์แนบ :</label>
                                                <a href='@item.Path_Defect' target="_blank">@item.AttachShow</a>
                                            </div>
                                        </div>
                                    }
                                    else if (item.Status == 1)
                                    {
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <label class="label" for="subject" style="margin-right: 10px">สถานะ :</label>
                                                <div class="rs-select2 js-select-simple select--no-search ">
                                                    <label>กำลังแก้ไข</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">ไฟล์แนบ :</label>
                                                <a href='@item.Path_Defect' target="_blank">@item.AttachShow</a>
                                            </div>
                                        </div>
                                    }
                                    else if (item.Status == 2)
                                    {
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <label class="label" for="subject" style="margin-right: 10px">สถานะ :</label>
                                                <div class="rs-select2 js-select-simple select--no-search ">
                                                    <label>แก้ไขแล้ว</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">ไฟล์แนบ :</label>
                                                <a href='@item.Path_Defect' target="_blank">@item.AttachShow</a>
                                            </div>
                                        </div>
                                    }
                                    else if (item.Status == 3)
                                    {
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <label class="label" for="subject" style="margin-right: 10px">สถานะ :</label>
                                                <div class="rs-select2 js-select-simple select--no-search ">
                                                    <label>ปิด</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">ไฟล์แนบ :</label>
                                                <a href='@item.Path_Defect' target="_blank">@item.AttachShow</a>
                                            </div>
                                        </div>
                                    }
                                    else if (item.Status == 4)
                                    {
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <label class="label" for="subject" style="margin-right: 10px">สถานะ :</label>
                                                <div class="rs-select2 js-select-simple select--no-search ">
                                                    <label>แก้ไขใหม่</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">ไฟล์แนบ :</label>
                                                <a href='@item.Path_Defect' target="_blank">@item.AttachShow</a>
                                            </div>
                                        </div>
                                    }
                                }
                                @Html.HiddenFor(m => m.CreateBy)
                            </div>
                        }
                    }
                    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <a href="@Url.Action("ShowDefect","Defect")"><button type="button" class="btn btn-outline-danger">กลับ</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
<style>
    input, select, textarea {
        max-width: 2800px;
    }
</style>