<style>
    input, select, textarea {
        max-width: 2800px;
    }
</style>
<!doctype html>
<html lang="en">
@model SystemManage.Models.TaskModel
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- datepicker script-->
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <script>

        //***scritpt datepicker***//
        $(function () {
            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();
            $("#datepicker5").datepicker();
            $("#datepicker6").datepicker();
            $("#datepicker7").datepicker();
            $("#datepicker8").datepicker();
            $("#datepicker9").datepicker();
            $("#datepicker10").datepicker();
        });
        //***//

        //***script addsubtask***//
        $(document).ready(function () {
            var i = 1;
            var r = 3;
            $("#add").click(function () {
                i++;
                r++;
                var domElement = $('<div class="card" id="subtask' + i + '"><div class="card-body shadow"><div class="row"><div class="col-sm-6"><div class="form-group"><label for="taskname">Sub Task Name :</label>@Html.TextBoxFor(m => m.SubTasksName, new {@class = "form-control" })</div></div><div class="col-sm-1"></div><div class="col-sm-4"><div class="input-group"><label class="label" for="step" style="margin-right: 10px">Step :</label><div class="rs-select2 js-select-simple select--no-search " style="width: 100px"><select name="step"><option>1</option><option>2</option><option>3</option></select><div class="select-dropdown"></div></div><label class="label" for="level" style="margin-right: 10px">Level :</label><div class="rs-select2 js-select-simple select--no-search " style="width: 100px"><select name="level"><option>1</option><option>2</option><option>3</option></select><div class="select-dropdown"></div></div></div></div><div class="col-sm-1"><a href="#" id="cancel"><img src = "/icon/canel.png" ></a></div></div><div class="row"><div class="col-sm-12"><div class="form-group"><label for="comment">Description for Developer :</label>@Html.TextBoxFor(m => m.SubTasksDis,new {@clas = "form-control",@type = "TextArea" })</div></div></div><div class="row"><div class="col-sm-8"> <div class="input-group"><label class="label" style="margin-right: 10px">ผู้รับมอบหมาย :</label>@Html.TextBoxFor(m => m.SubTaskDevID,new {@class ="form-control"})</div><div class="form-group" style="margin-top: 20px"><input type="file" class="form-control-file" id="exampleFormControlFile1"></div></div><div class="col-sm-4"><div class="input-group"><label class="label" style="margin-right: 10px">Send Date :</label>@Html.TextBoxFor(m => m.SubTaskSendDate, new {@id = "datepicker' + r + '", @type = "date" })</div></div></div></div></div>');
                $(this).parent('div').before(domElement);
            });
        });
        //***//

        //***script deletesubtask***//
        $(document).on('click', '#cancel', function () {
            var c = confirm("ยืนยันการลบที่จะลบ SubTask นี้");
            if (c == true) {
                $(this).parent('div').parent('div').parent('div').parent('div').remove();
            }

        });
        //***//

        //***script confrimrefresh***//
        window.onbeforeunload = function () {
            return "ข้อมูลไม่ได้บันทึก";
        };
                //***//

    </script>
    <!-- end datepicker script -->

    <title>Task</title>
</head>
<body>
    @using (Ajax.BeginForm("AddTask", "Task", new AjaxOptions { HttpMethod = FormMethod.Post.ToString() }))
    {
        <div class="container">
            <div class="card shadow" style="margin-top: 50px;margin-bottom: 50px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="taskname">Task Name :</label>
                                @Html.TextBoxFor(m => m.TaskName, new { @class = "form-controll" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">Description for Task :</label>
                                @Html.TextAreaFor(m => m.DescriptionTask, new { @class = "form-control" ,@type ="TextArea" })
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body shadow">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="taskname">Sub Task Name :</label>
                                        @Html.TextBoxFor(m => m.SubTasksName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <label class="label" for="step" style="margin-right: 10px">Step :</label>
                                        <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                                            <select name="step">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                        <label class="label" for="level" style="margin-right: 10px">Level :</label>
                                        <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                                            <select name="level">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="comment">Description for Developer :</label>
                                        @Html.TextAreaFor(m => m.SubTasksDis, new { @class = "form-control",@type ="TextArea" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <label class="label" style="margin-right: 10px">ผู้รับมอบหมาย :</label>
                                        @*@Html.TextBoxFor(m => m.SubTaskDevID, new { @class = "form-control" })*@
                                        @Html.DropDownListFor(m => m.SubTaskDevID, new SelectList(Model.DevList, "UserID", "UserID"), "Select", new {@class = "form-control" })
                                    </div>
                                    <div class="form-group" style="margin-top: 20px">
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <label class="label" style="margin-right: 10px">Send Date :</label>
                                        @Html.TextBoxFor(m => m.SubTaskSendDate, new { @class = "form-control", @type = "date" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;margin-top: 20px">
                        <a href="#div" id="add"><cneter><img src="~/icon/plus.png" width="42" height="42"></a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">Description for Tester :</label>
                                @Html.TextAreaFor(m => m.DescriptionTest, new { @class = "form-control",@type = "TextArea" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">ผู้ทดสอบ :</label>
                                @Html.DropDownListFor(m => m.TestID, new SelectList(Model.TestList, "UserID", "UserID"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">Send Date :</label>
                                @Html.TextBoxFor(m => m.TestSentDate, new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">Description for Quality Assurance :</label>
                                @Html.TextAreaFor(m => m.DescriptionQA, new { @class = "form-control",@type ="TextArea" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">ผู้ตรวจงาน :</label>
                                @Html.DropDownListFor(m => m.QAID, new SelectList(Model.QAList, "UserID", "UserID"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">Send Date :</label>
                                @Html.TextBoxFor(m => m.QASentDate, new { @class = "form-control" , @type ="date"})
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a href="@Url.Action("ShowTask")"><button type="button" class="btn btn-outline-danger">กลับ</button></a>
                            <button type="submit" class="btn btn-outline-primary">ยีนยัน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>