<style>
    star {
        color: red;
    }
</style>
@{
    if (Session["userID"] == null && Session["ProjectID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<!doctype html>
<html lang="en">
@model SystemManage.Models.TaskModel
@using SystemManage.Models
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- datepicker script-->
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <script>
        //***scritpt datepicker***//
        //***//
        //***script addsubtask***//
        $(document).ready(function () {
            var i = 1;
            var r = 3;
            $("#add").click(function () {
                i++;
                r++;
                var domElement = $('<div class="card" id="subtask"> <div class="card-body shadow"> <div class="row"> <div class="col-sm-6"> <div class="form-group"> <label for="taskname">@Html.Label("*", new { @style = "color:red" }) ชื่องานรอง :</label> @Html.TextBoxFor(m =>m.SubTasksName, new {@class = "form-control" }) </div> </div> <div class="col-sm-2"></div> <div class="col-sm-3"> <div class="input-group"> <label class="label" for="level" style="margin-right: 10px">ระดับ :</label> <div class="rs-select2 js-select-simple select--no-search " style="width: 100px"> @Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownListFor(m => m.level, new SelectList(Enum.GetValues(typeof(TaskModel.LevelTask))), new { @class = "form-control" }).ToHtmlString())) @Html.ValidationMessageFor(m => m.level, string.Empty, new { @style = "color:red" }) <div class="select-dropdown"></div> </div> </div> </div> <div class="col-sm-1"><a href="#" id="cancel"><img width="32px" height="32px" src="/icon/cancel.png"></a> </div> </div> <div class="row"> <div class="col-sm-12"> <div class="form-group"><label for="comment">@Html.Label("*", new { @style = "color:red" }) รายละเอียดของผู้พัฒนาระบบ :</label> @Html.Raw(Ajax.JavaScriptStringEncode(Html.TextAreaFor(m => m.SubTasksDis,new {@class ="form-control",@type = "TextArea" ,style ="height:100px"}).ToHtmlString())) </div> </div> </div> <div class="row"> <div class="col-sm-8"> <div class="input-group"><label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) ผู้รับมอบหมาย :</label> @Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownListFor(m => m.SubTaskDevID, new SelectList(Model.DevList, "UserID", "Member_name"), "Select", new { @class = "form-control" }).ToHtmlString()))</div> <div class="form-group" style="margin-top: 20px"><input type="file" class="form-control-file" id="exampleFormControlFile1"></div> </div> <div class="col-sm-4"> <div class="input-group"><label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) กำหนดส่ง :</label>@Html.TextBoxFor(m => m.SubTaskSendDate, new {@class = "form-control", @type = "date" })</div> </div> </div> </div> </div>');
                $(this).parent('div').before(domElement);
            });
        });
        //***//
        //***script deletesubtask***//
        $(document).on('click', '#cancel', function () {
            var c = confirm("ยืนยันการลบที่จะลบ SubTask นี้");
            if (c == true) {
                $(this).parent('div').parent('div').parent('div').parent('div').remove();
            }
        });
        //***//
        //***script confrimrefresh***//
        //window.onbeforeunload = function () {
        //    return "ข้อมูลไม่ได้บันทึก";
        //};
                //***//
    </script>
    <!-- end datepicker script -->
    <style>
        input, select, textarea {
            max-width: 2800px;
        }

            textarea.form-control {
                resize: none;
                height: 100px;
            }
    </style>
    <title>Task</title>
</head>
<body>
    @using (Ajax.BeginForm("AddTask", "Task", new AjaxOptions { HttpMethod = FormMethod.Post.ToString() }, new { @id = "form" }))
    {
        <div class="container">
            <div class="card shadow" style="margin-top: 50px;margin-bottom: 50px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="taskname">@Html.Label("*", new { @style = "color:red" }) ชื่องาน :</label>
                                @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TaskName, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">รายละเอียดงาน :</label>
                                @Html.TextAreaFor(m => m.DescriptionTask, new { @class = "form-control", @type = "TextArea", @id = "Dsc_Task" })
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body shadow">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="taskname">@Html.Label("*", new { @style = "color:red" }) ชื่องานรอง :</label>
                                        @Html.TextBoxFor(m => m.SubTasksName, new { @class = "form-control", @id = "SubtaskName" })
                                        <p id="v_subName" style="color:red"></p>
                                    </div>
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        @*<label class="label" for="step" style="margin-right: 10px">Step :</label>
                                            <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                                                <select name="step">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>*@
                                        <label class="label" for="level" style="margin-right: 10px">ระดับ :</label>
                                        <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                                            @Html.DropDownListFor(m => m.level, new SelectList(Enum.GetValues(typeof(TaskModel.LevelTask))), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.level, string.Empty, new { @style = "color:red" })
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="comment">@Html.Label("*", new { @style = "color:red" }) รายละเอียดของผู้พัฒนาระบบ:</label>
                                        @Html.TextAreaFor(m => m.SubTasksDis, new { @class = "form-control", @type = "TextArea", @id = "D_Subtask" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) ผู้รับมอบหมาย :</label>
                                        @*@Html.TextBoxFor(m => m.SubTaskDevID, new { @class = "form-control" })*@
                                        @Html.DropDownListFor(m => m.SubTaskDevID, new SelectList(Model.DevList, "UserID", "Member_name"), "Select", new { @class = "form-control", @id = "SubDevID" })
                                    </div>
                                    <div class="form-group" style="margin-top: 20px">
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) กำหนดส่ง :</label>
                                        @Html.TextBoxFor(m => m.SubTaskSendDate, new { @class = "form-control", @type = "date", @id = "SubTaskSendDate" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;margin-top: 20px">
                        <a href="#div" id="add"><cneter><img src="~/icon/plus.png" width="42" height="42"></a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">@Html.Label("*", new { @style = "color:red" }) รายละเอียดของผ้ทดสอบ :</label>
                                @Html.TextAreaFor(m => m.DescriptionTest, new { @class = "form-control", @type = "TextArea" })
                                @Html.ValidationMessageFor(m => m.DescriptionTest, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) ผู้ทดสอบ :</label>
                                @Html.DropDownListFor(m => m.TestID, new SelectList(Model.TestList, "UserID", "Member_name"), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TestID, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) กำหนดส่ง :</label>
                                <div>@Html.TextBoxFor(m => m.TestSentDate, new { @class = "form-control", @type = "date" })</div>
                                @Html.ValidationMessageFor(m => m.TestSentDate, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">@Html.Label("*", new { @style = "color:red" }) รายละเอียดของผู้ตรวจสอบคุณภาพ :</label>
                                @Html.TextAreaFor(m => m.DescriptionQA, new { @class = "form-control", @type = "TextArea" })
                                @Html.ValidationMessageFor(m => m.DescriptionQA, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) ผู้ตรวจงาน :</label>
                                @Html.DropDownListFor(m => m.QAID, new SelectList(Model.QAList, "UserID", "Member_name"), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.QAID, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">@Html.Label("*", new { @style = "color:red" }) กำหนดส่ง :</label>
                                <div>@Html.TextBoxFor(m => m.QASentDate, new { @class = "form-control", @type = "date" })</div>
                                @Html.ValidationMessageFor(m => m.QASentDate, string.Empty, new { @style = "color:red" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a href="@Url.Action("ShowTask")"><button type="button" class="btn btn-outline-danger" onclick='return confirm("คุณต้องการยกเลิกการทำรายการใช่หรือไม่")'>กลับ</button></a>
                            <button id="submit" type="submit" class="btn btn-outline-primary" onclick='return confirm("กรุณายืนยันการทำรายการ")'>ยีนยัน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>