@model SystemManage.Models.TaskModel
@using SystemManage.Models
@{
    if (Session["userID"] == null && Session["ProjectID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<title>งาน</title>
@using (Html.BeginForm("EditTask", "Task", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="card shadow" style="margin-top: 50px;margin-bottom: 50px">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="taskname">ชื่องาน :</label>
                            @Html.HiddenFor(m => m.TaskID)
                            @{
                                if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                {

                                    @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control", Readonly = "" })
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="comment">รายละเอียดงาน :</label>
                            @{
                                if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                {

                                    @Html.TextAreaFor(m => m.DescriptionTask, new { @class = "form-control", @type = "TextArea" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(m => m.DescriptionTask, new { @class = "form-control", @type = "TextArea", Readonly = "" })
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body shadow">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="taskname">ชื่องานรอง :</label>
                                    @Html.HiddenFor(m => m.SubTaskID)
                                    @{
                                        if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                        {

                                            @Html.TextBoxFor(m => m.SubTaskNames, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.SubTaskNames, new { @class = "form-control", Readonly = "" })
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <label class="label" for="step" style="margin-right: 10px">Step :</label>
                                    <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                                        <select name="step">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                    <label class="label" for="level" style="margin-right: 10px">ระดับ :</label>
                                    <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                                        @{
                                            if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                            {

                                                @Html.DropDownListFor(m => m.level, new SelectList(Enum.GetValues(typeof(TaskModel.LevelTask))), "เลือก", new { @class = "form-control" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.level, new SelectList(Enum.GetValues(typeof(TaskModel.LevelTask))), "เลือก", new { @class = "form-control", disabled = "ture" })
                                            }
                                        }
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="comment">รายละเอียดงานของผู้พัฒนาซอฟแวร์ :</label>
                                    @{
                                        if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                        {

                                            @Html.TextAreaFor(m => m.SubTasksDes, new { @class = "form-control", @type = "TextArea" })
                                        }
                                        else
                                        {
                                            @Html.TextAreaFor(m => m.SubTasksDes, new { @class = "form-control", @type = "TextArea", Readonly = "" })
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <label class="label" style="margin-right: 10px">ผู้รับมอบหมาย :</label>

                                    @{
                                        if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                        {

                                            @Html.DropDownListFor(m => m.SubDevID, new SelectList(Model.DevList, "UserID", "Member_name"), "Select", new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.SubDevID, new SelectList(Model.DevList, "UserID", "Member_name"), "Select", new { @class = "form-control", disabled = "ture" })
                                        }
                                    }
                                </div>
                                <div class="form-group" style="margin-top: 20px">
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <label class="label" style="margin-right: 10px">กำหนดส่ง:</label>
                                    @{
                                        if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                        {

                                            @Html.TextBoxFor(m => m.SubTaskDateSend, new { @class = "form-control", @type = "date" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.SubTaskDateSend, new { @class = "form-control", @type = "date", Readonly = "" })
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @{
                                if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                {
                                    <label for="comment">หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                    @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                    <label for="comment">หมายเหตุผู้ทดสอบ:</label>
                                    @Html.TextAreaFor(m => m.Comment_Tester, new { @Class = "form-control", Readonly = "" })
                                    <label for="comment">หมายเหตุผู้ตรวจสอบ:</label>
                                    @Html.TextAreaFor(m => m.Comment_QA, new { @Class = "form-control", Readonly = "" })
                                    <label for="comment">หมายเหตุลูกค้า:</label>
                                    @Html.TextAreaFor(m => m.Comment_CM, new { @Class = "form-control", Readonly = "" })
                                }
                                else if (Model.Status == 0)
                                {
                                    if (Model.Handle == Convert.ToInt32(Session["userID"]))
                                    {
                                        <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                        @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control" })
                                    }
                                    else
                                    {
                                        <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                        @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                    }
                                }
                                else if (Model.Status == 1)
                                {
                                    if (Model.Handle == Convert.ToInt32(Session["userID"]))
                                    {
                                        <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                        @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ทดสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_Tester, new { @Class = "form-control" })

                                    }
                                    else
                                    {
                                        <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                        @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ทดสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_Tester, new { @Class = "form-control", Readonly = "" })
                                    }

                                }
                                else if (Model.Status == 2)
                                {
                                    if (Model.Handle == Convert.ToInt32(Session["userID"]))
                                    {
                                        <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                        @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ทดสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_Tester, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ตรวจสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_QA, new { @Class = "form-control" })

                                    }
                                    else
                                    {
                                        <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                        @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ทดสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_Tester, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ตรวจสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_QA, new { @Class = "form-control", Readonly = "" })
                                    }
                                }
                                else if (Model.Status == 3)
                                {
                                    if (Model.Handle == Convert.ToInt32(Session["userID"]))
                                    {
                                        <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                        @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ทดสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_Tester, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ตรวจสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_QA, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุลูกค้า:</label>
                                        @Html.TextAreaFor(m => m.Comment_CM, new { @Class = "form-control", })

                                    }
                                    else
                                    {
                                        <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                        @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ทดสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_Tester, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุผู้ตรวจสอบ:</label>
                                        @Html.TextAreaFor(m => m.Comment_QA, new { @Class = "form-control", Readonly = "" })
                                        <label for="comment"> หมายเหตุลูกค้า:</label>
                                        @Html.TextAreaFor(m => m.Comment_CM, new { @Class = "form-control", Readonly = "" })
                                    }
                                }
                                else
                                {
                                    <label for="comment"> หมายเหตุผู้พัฒนาซอฟแวร์:</label>
                                    @Html.TextAreaFor(m => m.Comment_Dev, new { @Class = "form-control", Readonly = "" })
                                    <label for="comment"> หมายเหตุผู้ทดสอบ:</label>
                                    @Html.TextAreaFor(m => m.Comment_Tester, new { @Class = "form-control", Readonly = "" })
                                    <label for="comment"> หมายเหตุผู้ตรวจสอบ:</label>
                                    @Html.TextAreaFor(m => m.Comment_QA, new { @Class = "form-control", Readonly = "" })
                                    <label for="comment"> หมายเหตุลูกค้า:</label>
                                    @Html.TextAreaFor(m => m.Comment_CM, new { @Class = "form-control", Readonly = "" })
                                }
                            }
                        </div>
                    </div>
                </div>
                <div style="text-align: center;margin-top: 20px">
                </div>
                @if (Model.TestID == Convert.ToInt32(Session["userID"]) || Model.CreateBy == Convert.ToInt32(Session["userID"]))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">รายละเอียดของผู้ทดสอบ :</label>
                                @if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                {
                                    @Html.TextAreaFor(m => m.DescriptionTest, new { @class = "form-control", @type = "TextArea" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(m => m.DescriptionTest, new { @class = "form-control", @type = "TextArea", Readonly = "" })
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="col-sm-6">
                                <label class="label" style="margin-right: 10px">ผู้ทดสอบ:</label>
                                @{
                                    if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                    {

                                        @Html.DropDownListFor(m => m.TestID, new SelectList(Model.TestList, "UserID", "Member_name"), "Select", new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.TestID, new SelectList(Model.TestList, "UserID", "Member_name"), "Select", new { @class = "form-control", disabled = "ture" })
                                    }
                                }
                            </div>
                            <div class="col-sm-6">
                                <label class="label" style="margin-right: 10px">กำหนดส่ง:</label>
                                @{
                                    if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                    {

                                        @Html.TextBoxFor(m => m.TestSentDate, new { @class = "form-control", @type = "date" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.TestSentDate, new { @class = "form-control", @type = "date", Readonly = "" })
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;margin-top: 20px">
                    </div>
                </div>
                @if (Model.QAID == Convert.ToInt32(Session["userID"]) || Model.CreateBy == Convert.ToInt32(Session["userID"]))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">รายละเอียดของผู้ตรวจสอบ :</label>
                                @if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                {
                                    @Html.TextAreaFor(m => m.DescriptionQA, new { @class = "form-control", @type = "TextArea" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(m => m.DescriptionQA, new { @class = "form-control", @type = "TextArea", Readonly = "" })
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="col-sm-2"></div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="col-sm-6">
                                <label class="label" style="margin-right: 10px">ผู้ตรวจงาน :</label>
                                @{
                                    if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                    {

                                        @Html.DropDownListFor(m => m.QAID, new SelectList(Model.QAList, "UserID", "Member_name"), "Select", new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.QAID, new SelectList(Model.QAList, "UserID", "Member_name"), "Select", new { @class = "form-control", disabled = "ture" })
                                    }
                                }
                            </div>
                            <div class="col-sm-6">
                                <label class="label" style="margin-right: 10px">กำหนดส่ง :</label>
                                @{
                                    if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                    {

                                        @Html.TextBoxFor(m => m.QASentDate, new { @class = "form-control", @type = "date" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.QASentDate, new { @class = "form-control", @type = "date", Readonly = "" })
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2">
                        @if (Model.Status != 4)
                        {
                            if (Model.CreateBy != Convert.ToInt32(Session["userID"]) && Model.SubDevID != Convert.ToInt32(Session["userID"]))
                            {
                                if (Model.Handle == Convert.ToInt32(Session["userID"]) || Model.Handle == 0)
                                {
                                    <a href="@Url.Action("AddDefect","Defect")"><button type="button" class="btn btn-outline-success btn-block">ข้อผิดพลาด</button></a>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-10">
                        @*<div class="form-group">
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>*@
                    </div>
                    <div class="col-sm-2">
                        <a href="@Url.Action("ShowTask")"><button type="button" class="btn btn-outline-danger">กลับ</button></a>

                        @if (Model.Handle == Convert.ToInt32(Session["userID"]) || Model.Handle == 0 || Model.CreateBy == Convert.ToInt32(Session["userID"]))
                        {
                            if (Model.Status != 4 && Model.HaveDefect != 1)
                            {
                                if (Convert.ToInt32(Session["Save"]) == 0)
                                {
                                    <button type="submit" class="btn btn-outline-success">บันทึก</button>
                                }
                                else
                                {   
                                    <button type="submit" class="btn btn-outline-success">บันทึก</button>
                                    <a href="@Url.Action("SendTask","Task",new {SubID = Model.SubTaskID })"><button type="button" class="btn btn-outline-success">ส่งงาน</button></a>
                                }

                            }
                            else if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                            {
                                <button type="submit" class="btn btn-outline-primary">บันทึก</button>
                            }
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
}
<style>
    input, select, textarea {
        max-width: 2800px;
    }
</style>