@{
    ViewBag.Title = "ShowTask";
    Layout = "~/Views/Shared/_MainMenu.cshtml";
}
@using SystemManage.Models;
@using (Html.BeginForm("SearchTask","Task", FormMethod.Get)) { 
<div class="card">
    <div class="card-body" style="margin: auto">
        <div class="row">
            <div class="col-sm-12" style="margin: auto">
                <h1 class="text-center" style="margin-bottom: 20pt">@Session["ProjectName"]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Task</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="SubTask">Sub Task</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">ผู้รับผิดชอบ</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">ผู้ดำเนินการ</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group" style="margin-left: 100px">
                    <label class="label" for="subject" style="margin-right: 10px">Status :</label>
                    <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                        <select name="subject">

                            <option>All</option>
                            <option>Pause</option>
                            <option>Terminate</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <label class="label" for="subject" style="margin-right: 10px">Percent :</label>
                    <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                        <select name="subject">

                            <option>0</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                    <div class="rs-select2 js-select-simple select--no-search " style="width: 100px;margin-left: -40px">
                        <select name="subject">

                            <option>100</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="margin: auto;margin-top: 20px">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-basic">Clear</button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div style="margin-top: 20px; margin-bottom: 10px">
                <button type="button" class="btn btn-danger" style="margin-left: 30px">Report</button>
            </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div style="margin-top: 20px; margin-bottom: 10px;margin-left: 220px">
                <button type="button" class="btn btn-success">SIT</button>
                <a href="@Url.Action("AddTask")"><button type="button" class="btn btn-primary">New Test</button></a>
</div>
        </div>
    </div>
</div>
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-info">
                            <th>Task</th>
                            <th>Sub Task</th>
                            <th>Status</th>
                            <th>Percent Date</th>
                            <th>ผู้รับผิดชอบ</th>
                            <th>ผู้ดำเนินการ</th>
                            <th>Update Date</th>
                            <th>Create Date</th>
                            <th>Send Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in (List<SubTaskModel>)ViewBag.DataList2)
                            {
                        <tr class="Seach">
                            <td>@item.TaskName</td>
                            <td>@item.SubName</td>
                            @if (item.SubStatus == 0)
                            {
                                <td>อยู่ระหว่างดำเนินการ</td>
                            }
                            else if (item.SubStatus == 1)
                            {
                                <td>รอการตรวจสอบ</td>
                            }
                            else if (item.SubStatus == 2)
                            {
                                <td>ตรวจสอบคุณภาพ</td>
                            }
                            else if (item.SubStatus == 3)
                            {
                                <td>รอการยืนยัน</td>
                            }
                            else if (item.SubStatus == 4)
                            {
                                <td>เสร็จสิน</td>
                            }
                            else if (item.SubStatus == 5)
                            {
                                <td>อยู่ระหว่างการแก้ไข</td>
                            }
                            <td>@item.SubPercent%</td>
                            <td>@item.SubDevID</td>
                            <td>@item.Handle</td>
                            <td>
                                @if (item.UpdateDate >= item.CreateDate)
                                {
                                    @item.UpdateDate.ToString("dd/MM/yyyy");
                                }
                            </td>
                            <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.SubDevSend.ToString("dd/MM/yyyy")</td>
                            <td>
                                <a href="@Url.Action("DetailTask", new { SubID = item.SubID })"><i class="glyphicon fa fa-diamond"></i></a>
                            </td>
                            <td>
                                <a href="@Url.Action("DeleteTask", new { SubID = item.SubID })"><i class="glyphicon fa fa-archive"></i></a>
                            </td>
                        </tr>
                                }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


