<style>
    input, select, textarea {
        max-width: 2800px;
    }
</style>
@model SystemManage.Models.SITModel
<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        var i = 1;
    $("#add").click(function() {
        i++;
        var domElement = $('<div class="row"> <div class="col-sm-2"></div> <div class="col-sm-8"> <div class="row"> <div class="col-sm-2"></div> <div class="col-sm-4"> <label class="label" >Step '+i+' :</label> </div> <div class="col-sm-4"> <div class="input-group"> @Html.TextBoxFor(m => m.Task_ID, new { @class = "form-control" ,@type ="Dropdown"}) </div> </div> <div class="col-sm-2"> <a href="#" id="cancel"><img src = "~/icon/cancel.png" width="24px" height="24px" ></a> </div> </div> </div> </div> <div class="col-sm-2"></div> </div>');
        $(this).parent('div').before(domElement);
    });
    });

    $(document).on('click','#cancel',function() {
        var c = confirm("ยืนยันการลบที่จะลบ Defect นี้");
        if (c == true) {
            i = 1;
        $(this).parent('div').parent('div').parent('div').parent('div').remove();
        }
    });

    window.onbeforeunload = function ()
    {
        return "ข้อมูลไม่ได้บันทึก";
    };
    </script>
    <title>SIT</title>
</head>
<body>
    @using (Ajax.BeginForm("AddSIT", "SIT", new AjaxOptions { HttpMethod = FormMethod.Post.ToString() }))
    {
        <div class="container">
            <div class="card" style="margin-top: 20px">
                <div class="card-body" style="margin: auto">
                    <h1 style="text-align: center;margin-bottom: 30px">System Integration Testing</h1>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    <label class="label">ชื่อระบบในการทดสอบ :</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Name,new {@class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    <label class="label">Step 1 :</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        @Html.DropDownListFor(m => m.Task_ID, new SelectList(Model.Task, "TaskID", "TaskName"), "Select", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div style="text-align: center;margin-top: 20px">
                        <a href="#div" id="add"><cneter><img src="~/icon/plus.png" width="32px" height="32px"></a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">รายละเอียดในการทดสอบ:</label>
                                @Html.TextAreaFor(m => m.Detail, new { @class ="form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">ผู้รับมอบหมาย :</label>
                                @Html.DropDownListFor(m => m.Task_ID, new SelectList(Model.Tester, "UserID", "UserID"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="label" style="margin-right: 10px">กำหนดส่ง :</label>
                                <input type="text" id="datepicker2">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
                        <div class="col-sm-9">
                        </div>
                        <div class="col-sm-3">
                            <a href="@Url.Action("ShowSIT")"><button type="button" class="btn btn-outline-danger" onclick='return confirm("คุณต้องการยกเลิกการทำรายการใช่หรือไม่่")'>ยกเลิก</button></a>
                            <button type="button" class="btn btn-outline-primary" onclick='return confirm("คุณต้องการยืนยันการทำรายการใช่หรือไม่่")'>ยืนยัน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

    