<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
@{
                /**/

                if (Session["userID"] == null && Session["ProjectID"] == null)
                {
                    Response.Redirect("~/Login/Index");
                }
}
@{
    ViewBag.Title = "SIT";
    Layout = "~/Views/Shared/_MainMenu.cshtml";
}
@using SystemManage.Models;
@model SystemManage.Models.SITModel
<style>
    #sr {
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        border-radius: 18px;
        outline: none;
    }
</style>
<script>
    $(document).ready(function () {
        $("#sr").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tb tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<div class="card">
    <div class="card-body" style="margin: auto" id="panel">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-center" style="margin-bottom: 20pt">SIT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <div class="input-group">
                    <label class="label" for="subject" style="margin-right: 10px">Task :</label>
                    <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                        <select name="subject">
                            <option>All</option>
                            <option>Pause</option>
                            <option>Terminate</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <label class="label" for="subject" style="margin-right: 10px">Sub Task :</label>
                    <div class="rs-select2 js-select-simple select--no-search " style="width: 100px">
                        <select name="subject">
                            <option>0</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <label class="label" for="subject" style="margin-right: 10px">Dev :</label>
                    <div class="rs-select2 js-select-simple select--no-search ">
                        <select name="subject">
                            <option>All</option>
                            <option>Pause</option>
                            <option>Terminate</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <label class="label" for="subject" style="margin-right: 10px">Tester :</label>
                    <div class="rs-select2 js-select-simple select--no-search ">
                        <select name="subject">
                            <option>0</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <label class="label" for="subject" style="margin-right: 10px">QA :</label>
                    <div class="rs-select2 js-select-simple select--no-search ">
                        <select name="subject">
                            <option>All</option>
                            <option>Pause</option>
                            <option>Terminate</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <label class="label" for="subject" style="margin-right: 10px">Status :</label>
                    <div class="rs-select2 js-select-simple select--no-search ">
                        <select name="subject">
                            <option>0</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="margin: auto;margin-top: 20px">
                <button type="button" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-basic">Clear</button>
            </div>

        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9"></div>
        <div class="col-sm-1">
            @{
                if (Model.CreateBy == Convert.ToInt32(Session["userID"]) && Model.Project_Status != 4)
                {
                    <a href="@Url.Action("AddSIT", "SIT")"><button type="button" class="btn btn-success btn-block">ทดสอบ</button></a>
                }
            }
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3"><input type="text" id="sr" onkeyup="myFunction1()" placeholder="ค้นหา"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 " style="overflow-x:auto">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-info">
                            <th><center>ลำดับ</center></th>
                            <th><center>ชื่อ</center></th>
                            <th><center>สถานะ</center></th>
                            <th><center>ผู้ทดสอบ</center></th>
                            <th><center>ผู้ตรวจคุณภาพ</center></th>
                            <th><center>วันที่สร้าง</center></th>
                            <th><center>รายละเอียด</center></th>
                            @{
                                if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                {
                                    <th><center>ลบ</center></th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody id="tb">
                        @{
                            int n = 1;
                            foreach (var i in (List<SITModel>)ViewBag.DataList)
                            {
                                <tr>
                                    <td><center>@n</center></td>
                                    <td><center>@i.Name</center></td>
                                    @{
                                        if (i.Status == 0)
                                        {
                                            <td><center>อยู่ระหว่างการทดสอบ</center></td>
                                        }
                                        else if (i.Status == 1)
                                        {
                                            <td><center>อยู่ระหว่างการตรวจคุณภาพ</center></td>
                                        }
                                        else if (i.Status == 2)
                                        {
                                            <td><center>อยู่ระหว่างการยืนยัน</center></td>
                                        }
                                        else if (i.Status == 3)
                                        {
                                            <td><center>เสร็จสิน</center></td>
                                        }
                                        else if (i.Status == 4)
                                        {
                                            <td><center>อยู่ระหว่างการแก้ไข</center></td>
                                        }
                                    }
                                    <td><center>@i.Tester_Name</center></td>
                                    <td><center>@i.QA_Name</center></td>
                                    <td><center>@i.CreateDate.ToShortDateString()</center></td>
                                    <td><center><a href="@Url.Action("DetailSIT", new { SIT_ID = i.SIT_ID })"><i class="fas fa-book-open"></i></a></center></td>
                                    @{
                                        if (Model.CreateBy == Convert.ToInt32(Session["userID"]))
                                        {
                                            <td><center><a href="@Url.Action("DeleteSIT", new { SIT_ID = i.SIT_ID })"><i class="fas fa-backspace" onclick='return confirm("คุณต้องการลบข้อมูลใช่หรือไม่่")'></i></a></center></td>
                                        }
                                    }
                                </tr>
                                ++n;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>